h1{
 font-size: 30px;
  background-color:#94ff94;
}

ol{
  text-decoration: none;
  list-style-type: none ;
  display: inline;
  
}

li{
  display: inline;
  padding: 10px;
  /* only 6 characters after the # */
  background-color:#94ff94;
}

header {
  background-color:#94ff94 ;
  text-align: center;
  /* px = pixels */
  padding: 15px;
}
body {
  padding:0px;
  margin:0px;
}

div {
  background-color:#eee5c4;
  margin:10px;
  padding:10px;
  /* to make the corners rounded */
  border-radius:20px ;
}

img{
  height:150px ;
  width: 120px;
  object-fit:scale-down;
}

/* class use a full stop */
.brawlers {
  /* 
  1. thickness (10px)
  2. type (solid, dotted, dahsed)
  3. color (red) */
 border: 5px solid #91fdd3;
  width: 200px;
  text-align: center;
  
}

/* id we will use a # */
#hanger {
  display: flex;
  /* put things on the next line if full */
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.brawlers:hover{
 transform: scale(1.2);
background-color:#e6ecf7;
border-color:yellow;}


